body {
  font-family: 'Arial', sans-serif;
  background-color: #e0e0e0; /* Cor de fundo um pouco mais escura */
  color: #333; /* Texto escuro para contraste */
}

header.topo {
  background-color: #4caf50; /* Verde vibrante */
  color: white;
  text-align: center;
  padding: 1.5rem;
}

footer {
  background-color: #388e3c; /* Verde mais escuro */
  color: white;
  text-align: center;
  padding: 1rem;
}




